/* Colors */
$black: #000000;
$white: #FFFFFF;
$red-wine: #901C1C;
$orange: #D3573C;
$grey: #757575;
$light-grey: #FAFAFA;
$mid-grey: #525252;
$pink: #DB8876;

/* Text configuration */
$body-font: 'DM Sans';

$regular-font-weight: 400;
$bold-font-weight: 700;

$title-font-size: 2.25rem; /*36px*/
$body-font-size: 0.813rem; /*13px*/
$body-text-font-size: 0.625rem; /*10px*/
$price-font-size: 0.563rem; /*9px*/

/* Photographer page */

$name-font-size: 4rem; /*64px*/
$city-font-size: 1.5rem; /*24px*/
$slogan-font-size: 1.125rem; /*18px*/

.photographer {
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  &__info {
    &__name {
      font-size: $name-font-size;
      font-weight: $regular-font-weight;
      color: $orange;
    }
    &__city {
      font-size: $city-font-size;
      font-weight: $regular-font-weight;
      color: $red-wine;
      margin-bottom: 1rem;
    }
    &__tagline {
      font-size: $slogan-font-size;
      font-weight: $regular-font-weight;
      color: $mid-grey;
    }
  }
}

.sort {
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  &__text {
    font-size: $slogan-font-size;
    font-weight: $bold-font-weight;
    color: $black;
    margin-right: 1rem;
  }
}

.gallery {
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
  &__photo {
    display: flex;
    justify-content: center;
    &__card {
      &__container {
        width: 25rem;
        height: 20rem;
        &__img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__info {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__name {
          font-size: $city-font-size;
          font-weight: $regular-font-weight;
          color: $red-wine;
        }
        &__like {
          display: flex;
          flex-direction: row;
          align-items: center;
          &__number {
            font-size: $city-font-size;
            font-weight: $regular-font-weight;
            color: $red-wine;
            margin-right: 0.5rem;
          }
          &__heart {
            color: $red-wine;
            font-size: 1.3rem;
          }
          }
        }
      }
    }
}
.lightbox {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: $white;
  width: 100%;
  height: 100%;

  &__img {
    align-self: center;
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  &__title {
    margin: 1rem 0 0 9.3rem;
    font-size: $city-font-size;
    color: $red-wine;
  }

  &__close {
    position: absolute;
    right: 5rem;
    top: 5rem;
    opacity: 1;
    cursor: pointer;
    font-size: 3rem;
    color: $red-wine;
  }
  &__right {
    position: absolute;
    right: 5rem;
    top: 26rem;
    opacity: 1;
    cursor: pointer;
    font-size: 2.5rem;
    color: $red-wine;
  }
  &__left {
    position: absolute;
    left: 5rem;
    top: 26rem;
    opacity: 1;
    cursor: pointer;
    font-size: 2.5rem;
    color: $red-wine;
  }
}


.like__counter {
  position: fixed;
  right: 2rem;
  bottom: 0;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 24rem;
  background-color: $pink;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px 5px 0 0;
  .counter {
    &__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__number {
        font-size: $city-font-size;
        font-weight: $regular-font-weight;
      }
      &__heart {
        color: $black;
        font-size: 1.3rem;
        margin-left: 0.5rem;
      }
    }
  }
  .price {
    &__day {
      align-items: center;
      font-size: $city-font-size;
      font-weight: $regular-font-weight;
    }
  }
}


